/* ==========================================================================
primary: Yuya Saito @ http://twitter.com/cssradar
============================================================================= */
/* common
   ========================================================================== */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: url('/assets/images/textures/stressed_linen.png') repeat 0 0 #1a1a1a;
  color: #fafafa;
  font-size: 120%;
  line-height: 1.6;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "MS PGothic", Osaka, Sans-Serif;
}
#page { position: relative }
#page:before {
  content: ' ';
  display: block;
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  border-right: 1px dashed rgba(56, 56, 56, 0.95);
  z-index: -1;
}
textarea,
input[type="text"] {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.80);
  -webkit-box-shadow: 0px 1px 2px #333;
  -moz-box-shadow: 0px 1px 2px #333;
  box-shadow: 0px 1px 2px #333;
  color: #d4d4d4;
  text-shadow: 0px 2px 3px #171717;
  line-height: 1.6;
  border: 0 none;
  padding: 0.5em;
  outline: none;
}
.unit-inner {
  margin-right: auto;
  margin-left: auto;
  width: 510px;
}
a {
  color: #fafafa;
  text-decoration: none;
}
ul {
  padding: 0;
  list-style: none;
}
p { margin: 0 0 25.6px 0 }
/* header
   ========================================================================== */
.group-logo { text-align: center }
.logo {
  display: inline-block;
  width: 5em;
  height: 5em;
  border: 8px solid rgba(42, 123, 56, 0.80);
  border-radius: 50%;
  background: url('/assets/images/textures/100-90-5.png') repeat 0 0 #34BA59;
  text-shadow: -1px -2px 2px rgba(21, 62, 28, 0.80);
  font-weight: 700;
  font-size: 150%;
  font-family: 'Comfortaa', sans-serif;
  line-height: 4.6em;
  margin: 25.6px 0;
  -webkit-transform: rotate(-8.5deg);
  -moz-transform: rotate(-8.5deg);
  -ms-transform: rotate(-8.5deg);
  -o-transform: rotate(-8.5deg);
  transform: rotate(-8.5deg);
}
.catch {
  font-weight: 300;
  font-family: 'Comfortaa', sans-serif;
}
/* body
   ========================================================================== */
.the-body { border-bottom: 1px dashed rgba(56, 56, 56, 0.90) }
.btn-new {
  margin-bottom: 25.6px;
  min-width: 182px;
}
.animate {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.is-close {
  opacity: 0;
  height: 0;
}
.is-open {
  opacity: 1;
  height: 100%;
}
.form-send { margin-bottom: 25.6px }
textarea {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  resize: none;
}
input[type="text"] { border-top: 1px solid rgba(255, 255, 255, 0.15) }
input[type="text"]:last-of-type {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-bottom: 25.6px;
}
.btn-center {
  display: block;
  text-align: center;
}
.btn {
  padding: 10px 40px;
  display: inline-block;
  background: #34BA59;
  color: #fafafa;
  border-radius: 4px;
  border: solid 1px #1F8D52;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:hover {
  background: #379462;
  border: solid 1px #207741;
  text-decoration: none;
}
.btn:active {
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  background: #30815A;
  border: solid 1px #215F46;
}
.list-quotes li { margin-bottom: 25.6px }
.list-quotes li:last-child { margin-bottom: 0 }
.quote {
  background: rgba(0, 0, 0, 0.80);
  -webkit-box-shadow: 0px 1px 2px #333;
  -moz-box-shadow: 0px 1px 2px #333;
  box-shadow: 0px 1px 2px #333;
  border-radius: 4px;
  color: #d4d4d4;
  text-shadow: 0px 2px 3px #171717;
  padding: 0.5em;
}
.quote .text { font-size: 150% }
.quote .meta {
  font-size: 80%;
  margin-bottom: 0;
}
/* footer
   ========================================================================== */
.the-footer {
  background: url('/assets/images/textures/low_contrast_linen.png') repeat 0 0 #383838;
  border-top: 1px solid #000;
  padding: 25.6px 0;
}
.link-external:link,
.link-external:visited { color: #34BA59 }
.icon-github {
  font-size: 150%;
  vertical-align: -4px;
}
.madeintokyo { margin-bottom: 0 }
